import logging
import uvicorn
import argparse

from fastapi import FastAPI
from fastapi.middleware.cors import CORSMiddleware

{% for model in models %}from src.{{ model.name.lower() }}_routes import router as {{ model.name.lower() }}_rotes
{% endfor %}

from src.db.utils import ensure_all_tables

# Create FastAPI App and Allow CORS
app = FastAPI()
app.add_middleware(
    CORSMiddleware,
    allow_origins=["*"],
    allow_credentials=True,
    allow_methods=["*"],
    allow_headers=["*"],
)

# Add startup event to ensure all tables are created
@app.on_event("startup")
async def startup_event():
    """ Startup Event """
    await ensure_all_tables()

# Default Host and Port
DEFAULT_HOST = "localhost"
DEFAULT_PORT = 8000

# Add the API Routes
{% for model in models %}app.include_router({{ model.name.lower() }}_rotes, tags=["{{ model.name }}"])
{% endfor %}

########################################################################################################################
# Root and Health Endpoints
########################################################################################################################


@app.get("/")
async def root():
    """ Root Endpoint """
    return {"message": "Welcome to {{ service_name }} API"}


@app.get("/health")
async def health():
    """ Health Endpoint """
    return {"message": "Healthy"}

@app.get("/ready")
async def health():
    """ Ready Endpoint """
    return {"message": "Ready"}

########################################################################################################################
# Logging
########################################################################################################################


def init_logging():
    """ Initialize Logging """
    logging.basicConfig(level=logging.INFO)
    logging.getLogger("uvicorn").setLevel(logging.INFO)
    logging.getLogger("uvicorn.error").setLevel(logging.INFO)
    logging.getLogger("uvicorn.access").setLevel(logging.INFO)


########################################################################################################################
# Parse Command Line Arguments
########################################################################################################################


def parse_args():
    """ Parse Command Line Arguments """
    parser = argparse.ArgumentParser(description="Run the FastAPI Server")
    parser.add_argument(
        "--host",
        "-h",
        type=str,
        default=DEFAULT_HOST,
        help="Host to run the server on"
    )
    parser.add_argument(
        "--port",
        "-p",
        type=int,
        default=DEFAULT_PORT,
        help="Port to run the server on"
    )
    return parser.parse_args()


########################################################################################################################
# Run the Server
########################################################################################################################


if __name__ == "__main__":
    # Initialize Logging
    init_logging()
    # Parse Command Line Arguments
    args = parse_args()
    # Start the server
    uvicorn.run(app, host=args.host, port=args.port)
