# Model Type Imports
from pydantic import BaseModel
from pydantic.fields import FieldInfo
from typing import List, Dict

# Models

{% for model in models %}
class {{ model.name }}(BaseModel):
    {% for field in model.fields %}
    {{ field.row }}
    {% endfor %}

    class Config:
        extra = "ignore"

    def to_dict(self) -> Dict:
        return self.dict()

{% endfor %}
