import logging
import uvicorn
from typing import List
from fastapi import FastAPI, HTTPException
from fastapi.middleware.cors import CORSMiddleware
from models.models import {{ model_names }}

{% for model in models %}from {{ model.name.lower() }}_manager import get_{{ model.manager_var_name }}
{% endfor %}

# Create instances of managers for each model
{% for model in models %}
{{ model.manager_var_name }} = get_{{ model.manager_var_name }}()
{% endfor %}

# Create FastAPI App and Allow CORS
app = FastAPI()
app.add_middleware(
    CORSMiddleware,
    allow_origins=["*"],
    allow_credentials=True,
    allow_methods=["*"],
    allow_headers=["*"],
)

@app.get("/")
async def root():
    return {"message": "Hello World"}

##############################################
# Get Endpoints for {{ model_names }}
##############################################

{% for model in models %}
@app.get("/{{ model.name.lower() }}")
def get_{{ model.name.lower() }}({{ model.model_id_var_name }}: str) -> {{ model.name }}:
    """ Get a {{ model.name }} """
    print(f"Getting {{ model.name }} with id: {id}")
    return {{ model.manager_var_name }}.get({{ model.model_id_var_name }}={{ model.model_id_var_name }})


@app.get("/{{ model.name.lower() }}s")
def get_{{ model.name.lower() }}s() -> List[{{ model.name }}]:
    print(f"Getting all {{ model.name }}s")
    return {{ model.manager_var_name }}.get_all()


{% endfor %}

##############################################
# Create Endpoints for {{ model_names }}
##############################################

{% for model in models %}
@app.post("/{{ model.name.lower() }}")
def create_{{ model.name.lower() }}({{model.name.lower()}}: {{ model.name }}) -> {{ model.name }}:
    """ Create a {{ model.name }} """
    print(f"Creating {{ model.name }}: {str({{model.name.lower()}})}")
    return {{ model.manager_var_name }}.create({{model.name.lower()}})


@app.post("/{{ model.name.lower() }}s")
def create_{{ model.name.lower() }}s({{model.name.lower()}}s: List[{{ model.name }}]) -> List[{{ model.name }}]:
    """ Create multiple {{ model.name }}s """
    print(f"Creating {{ model.name }}s: {str({{model.name.lower()}}s)}")
    return {{ model.manager_var_name }}.create_many({{model.name.lower()}}s)

{% endfor %}

##############################################
# Update Endpoints for {{ model_names }}
##############################################

{% for model in models %}
@app.put("/{{ model.name.lower() }}")
def update_{{ model.name.lower() }}({{model.name.lower()}}: {{ model.name }}) -> {{ model.name }}:
    """ Update a {{ model.name }} """
    print(f"Updating {{ model.name }}: {str({{model.name.lower()}})}")
    return {{ model.manager_var_name }}.update({{model.name.lower()}})


@app.put("/{{ model.name.lower() }}s")
def update_{{ model.name.lower() }}s({{model.name.lower()}}s: List[{{ model.name }}]) -> List[{{ model.name }}]:
    """ Update multiple {{ model.name }}s """
    print(f"Updating {{ model.name }}s: {str({{model.name.lower()}}s)}")
    return {{ model.manager_var_name }}.udpate_many({{model.name.lower()}}s)

{% endfor %}

##############################################
# Delete Endpoints for {{ model_names }}
##############################################

{% for model in models %}
@app.delete("/{{ model.name.lower() }}")
def delete_{{ model.name.lower()}}({{ model.model_id_var_name }}: str):
    """ Delete a {{ model.name }} """
    print(f"Deleting {{ model.name }} with id: {id}")
    return {{ model.manager_var_name }}.delete({{ model.model_id_var_name }}={{ model.model_id_var_name }})


@app.delete("/{{ model.name.lower() }}s")
def delete_{{ model.name.lower() }}s({{ model.model_id_var_name }}s: List[str]):
    """ Delete multiple {{ model.name }}s """
    print(f"Deleting {{ model.name }}s: {str({{ model.model_id_var_name }}s)}")
    return {{ model.manager_var_name }}.delete_many({{ model.model_id_var_name }}s={{ model.model_id_var_name }}s)

{% endfor %}

def init_logging():
    """ Initialize Logging """
    logging.basicConfig(level=logging.INFO)
    logging.getLogger("uvicorn").setLevel(logging.INFO)
    logging.getLogger("uvicorn.error").setLevel(logging.INFO)
    logging.getLogger("uvicorn.access").setLevel(logging.INFO)

if __name__ == "__main__":
    # Initialize Logging
    init_logging()
    # Start the server
    uvicorn.run(app, host="localhost", port=8000)
